<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title">Web Chall 1</h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    </div>
    <div class="main">     
      <div class="section javascript-components">
          <div class="container">
              <div class="tim-title">
                  <h2>And so it begins...</h2>
              </div>
              <div class="row" id="modals">
                  <div class="col-md-12">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Imperdiet proin fermentum leo vel orci porta non pulvinar. In fermentum et sollicitudin ac orci phasellus egestas tellus rutrum. Vitae congue eu consequat ac. Massa tempor nec feugiat nisl pretium fusce id. Non enim praesent elementum facilisis leo vel fringilla. Diam maecenas sed enim ut sem viverra aliquet eget. Vulputate mi sit amet mauris commodo quis imperdiet massa tincidunt. Urna neque viverra justo nec. Sit amet porttitor eget dolor morbi.</p>

                        <p>Arcu ac tortor dignissim convallis. Senectus et netus et malesuada fames ac. Porta lorem mollis aliquam ut porttitor. Neque ornare aenean euismod elementum nisi quis eleifend. Elementum facilisis leo vel fringilla est ullamcorper. Vel facilisis volutpat est velit egestas. Etiam dignissim diam quis enim lobortis scelerisque fermentum. Lorem mollis aliquam ut porttitor leo a diam. Etiam non quam lacus suspendisse faucibus. Mus mauris vitae ultricies leo integer malesuada nunc. Tincidunt praesent semper feugiat nibh sed pulvinar proin. Sed faucibus turpis in eu mi. Integer feugiat scelerisque varius morbi enim nunc. Hac habitasse platea dictumst quisque sagittis purus. Ac ut consequat semper viverra nam. Bibendum enim facilisis gravida neque convallis. Amet consectetur adipiscing elit duis tristique. Id cursus metus aliquam eleifend mi in nulla posuere sollicitudin. Elit sed vulputate mi sit amet mauris commodo quis imperdiet.</p>
                        
                        <p>Sed augue lacus viverra vitae. Sit amet commodo nulla facilisi nullam vehicula. Platea dictumst quisque sagittis purus. Gravida arcu ac tortor dignissim convallis. In fermentum posuere urna nec tincidunt praesent semper feugiat. Cursus metus aliquam eleifend mi in nulla posuere. Enim praesent elementum facilisis leo vel. Ultrices vitae auctor eu augue ut lectus. Scelerisque in dictum non consectetur a. Malesuada proin libero nunc consequat interdum varius sit. Molestie at elementum eu facilisis sed odio morbi quis. Egestas purus viverra accumsan in nisl nisi scelerisque.</p>
                        
                        <p>Turpis massa sed elementum tempus egestas sed. Turpis massa sed elementum tempus. Praesent tristique magna sit amet. Eget gravida cum sociis natoque penatibus et magnis. Mauris augue neque gravida in fermentum et sollicitudin ac orci. Dictumst vestibulum rhoncus est pellentesque. Metus dictum at tempor commodo ullamcorper a lacus vestibulum. Habitant morbi tristique senectus et. Nibh sit amet commodo nulla facilisi nullam vehicula ipsum a. Nulla facilisi cras fermentum odio eu feugiat. Vitae proin sagittis nisl rhoncus mattis rhoncus urna. Est placerat in egestas erat. Ut etiam sit amet nisl purus.</p>
                        
                        <p>Eros donec ac odio tempor orci dapibus ultrices in. Nisl vel pretium lectus quam id leo in vitae turpis. Ullamcorper a lacus vestibulum sed arcu non odio. Ultrices in iaculis nunc sed augue lacus viverra vitae. Eget dolor morbi non arcu. Aliquet enim tortor at auctor. Sit amet venenatis urna cursus. Mattis vulputate enim nulla aliquet porttitor lacus luctus accumsan. Elementum pulvinar etiam non quam lacus. Pulvinar sapien et ligula ullamcorper. Nulla aliquet enim tortor at auctor urna nunc id cursus. Amet porttitor eget dolor morbi non arcu risus. Gravida cum sociis natoque penatibus. Praesent tristique magna sit amet.</p>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
